name: Build Static Site

on:
  workflow_call:
    inputs:
      output_dir:
        description: "The directory to use for static content build output"
        default: "build"
        required: false
        type: string
    secrets:
      ALGOLIA_API_KEY:
        description: "The Algolia API key to use for indexing"
      ALGOLIA_APP_ID:
        description: "The Algolia App ID to use for indexing"
      HS_ACCOUNTID:
        description: "The HubSpot Account ID to use for tracking"

jobs:
  build-static:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node v22
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
      - name: Install YARN dependencies
        run: yarn install
      - name: Replace secrets
        run: |
          sed -i "s/ALGOLIA_API_KEY/${{ secrets.ALGOLIA_API_KEY }}/g" docusaurus.config.js
          sed -i "s/ALGOLIA_APP_ID/${{ secrets.ALGOLIA_APP_ID }}/g" docusaurus.config.js
          sed -i "s/HS_ACCOUNTID/${{ secrets.HS_ACCOUNTID }}/g" docusaurus.config.js
      - name: Build site
        run: yarn build
      - name: Cache Content
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ inputs.output_dir }}/*
          key: ${{ github.sha }}
