name: Deploy Static Site to GCS

on:
  workflow_call:
    inputs:
      src_dir:
        description: "The directory containing static content"
        default: "build"
        required: false
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Recall Cache Content
        uses: actions/cache@v4
        with:
          path: ${{ inputs.src_dir }}/*
          key: ${{ github.sha }}
      - name: Authenticate with Google Cloud
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GCP_SERVICE_ACCOUNT }}"
      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v2"
      - name: Obtain Bucket Name
        id: data
        uses: ./.github/actions/PREview-data
      - name: Upload static content to buckets
        run: gsutil -m -h "Cache-control:public, max-age=60" rsync -r -c -C -d ${{ inputs.src_dir }}/ gs://${{ steps.data.outputs.bucket }}
