name: "PREview: Delete"

on:
  pull_request:
    types: [closed]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        continue-on-error: true
        with:
          message: |
            **Cleaning up PREview environment...**
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true
      - name: Obtain Bucket Name
        uses: ./.github/actions/PREview-data
      - name: Authenticate with Google Cloud
        uses: "google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093" # v3.0.0
        with:
          credentials_json: "${{secrets.GCP_SERVICE_ACCOUNT}}"
      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db" # v3.0.1
      - name: Delete PReview bucket
        run: gsutil rm -r gs://${BUCKET}
      - uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        if: success()
        continue-on-error: true
        with:
          message: |
            **PREview environment deleted.**
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true
