name: "PREview: Update"

on:
  pull_request:
    types: [synchronize]

jobs:
  data:
    runs-on: ubuntu-latest
    outputs:
      URL: ${{ steps.data.outputs.URL }}
      BUCKET: ${{ steps.data.outputs.BUCKET }}
      BRANCH: ${{ steps.data.outputs.BRANCH }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Obtain URL
        id: data
        uses: ./.github/actions/PREview-data
      - name: Verify outputs
        shell: bash
        id: out
        run: echo ${{ steps.data.outputs.BUCKET }}

  build:
    uses: ./.github/workflows/_build.yaml
    with:
      output_dir: build
    secrets: inherit

  deploy-update:
    needs: [data, build]
    uses: ./.github/workflows/_deploy.yaml
    with:
      src_dir: build
      bucket: ${{ needs.data.outputs.BUCKET }}/docs
    secrets: inherit

  notify:
    runs-on: ubuntu-latest
    needs: [deploy-update]
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Obtain URL
        uses: ./.github/actions/PREview-data
      - uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        if: success()
        continue-on-error: true
        with:
          message: |
            **PREview has been updated at ${{ env.URL }}**
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true
