name: "PREview: Create"

on:
  pull_request:
    types: [opened, reopened]

jobs:
  create-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: mshick/add-pr-comment@v2
        with:
          message: |
            **Starting creation of the PREview environment...**
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true
      - name: Obtain Bucket Name
        uses: ./.github/actions/PREview-data
      - name: Authenticate with Google Cloud
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{secrets.GCP_SERVICE_ACCOUNT}}"
      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v2"
      - name: Create PReview bucket
        run: gsutil mb gs://${BUCKET}
      - name: Configure bucket for public access
        run: gsutil iam ch allUsers:legacyObjectReader gs://${BUCKET}
      - name: Configure bucket web properties
        run: gsutil web set -m index.html -e 404.html gs://${BUCKET}
      - uses: mshick/add-pr-comment@v2
        if: success()
        continue-on-error: true
        with:
          message: |
            **PREview environment has been created at [${{ env.URL }}](${{ env.URL }})**
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true

  build:
    uses: ./.github/workflows/_build.yaml
    with:
      output_dir: build
    secrets: inherit

  deploy-update:
    needs: [build]
    uses: ./.github/workflows/_deploy.yaml
    with:
      src_dir: build
    secrets: inherit

  notify:
    runs-on: ubuntu-latest
    needs: [deploy-update]
    steps:
      - name: Obtain Bucket Name
        id: data
        uses: ./.github/actions/PREview-data
      - uses: mshick/add-pr-comment@v2
        if: success()
        continue-on-error: true
        with:
          message: |
            **PREview has been updated at ${{ steps.data.outputs.url }}**
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true
