name: "PREview: Create"

on:
  pull_request:
    types: [opened, reopened]

jobs:
  create-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        with:
          message: |
            **Starting creation of the PREview environment...**
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true
      - name: Obtain Bucket Name
        uses: ./.github/actions/PREview-data
      - name: Authenticate with Google Cloud
        uses: "google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093" # v3.0.0
        with:
          credentials_json: "${{secrets.GCP_SERVICE_ACCOUNT}}"
      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db" # v3.0.1
      - name: Create PReview bucket
        run: gsutil mb gs://${BUCKET}
      - name: Configure bucket for public access
        run: gsutil iam ch allUsers:legacyObjectReader gs://${BUCKET}
      - name: Configure bucket web properties
        run: gsutil web set -m index.html -e 404.html gs://${BUCKET}
      - uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        if: success()
        continue-on-error: true
        with:
          message: |
            **PREview environment has been created at [${{ env.URL }}](${{ env.URL }})**
            *Please allow a few minutes for the environment to be fully deployed.*
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true

  data:
    runs-on: ubuntu-latest
    outputs:
      URL: ${{ steps.data.outputs.URL }}
      BUCKET: ${{ steps.data.outputs.BUCKET }}
      BRANCH: ${{ steps.data.outputs.BRANCH }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Obtain URL
        id: data
        uses: ./.github/actions/PREview-data

  build:
    uses: ./.github/workflows/_build.yaml
    with:
      output_dir: build
    secrets: inherit

  deploy-update:
    needs: [data, build]
    uses: ./.github/workflows/_deploy.yaml
    with:
      src_dir: build
      bucket: ${{ needs.data.outputs.BUCKET }}/docs
    secrets: inherit

  notify:
    runs-on: ubuntu-latest
    needs: [deploy-update]
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Obtain Bucket Name
        uses: ./.github/actions/PREview-data
      - uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        if: success()
        continue-on-error: true
        with:
          message: |
            **PREview has been updated at ${{ env.URL }}**
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true
